<?xml version="1.0"?>
<launch>
    <!-- MAVROS posix SITL environment launch script -->
    <!-- launches MAVROS, PX4 SITL, Gazebo environment, and spawns vehicle -->
    <!-- vehicle pose -->
    <arg name="x" default="-8"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>
    <!-- vehicle model and world -->
    <arg name="est" default="ekf2"/>
    <arg name="vehicle" default="iris_D435i"/>
    <!--ego-->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/ego.world"/> -->
    <!-- CERLAB world -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/bridge/bridge_static.world"/> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/square/square_box.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/square/square_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/square/square_test.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/square/square_dynamic_7.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/square/square_box_dynamic_8.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/square/square_box_dynamic_14.world" /> -->


    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan1/floorplan1_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan1/floorplan1_dynamic_6.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan1/floorplan1_dynamic_16.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan2/floorplan2_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan2/floorplan2_dynamic_5.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan2/floorplan2_dynamic_12.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan3/floorplan3_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan3/floorplan3_dynamic_8.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan3/floorplan3_box_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan3/floorplan3_box_dynamic_4.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/floorplan4/floorplan4_static.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/corridor/corridor_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/corridor/corridor_dynamic_9.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_basic_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_c_shape_basic_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_dynamic_1.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_s_shape_basic_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_static_long.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_straight_basic_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_straight_dynamic_5.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/tunnel/tunnel_straight_static.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/building/building_2f_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/building/building_4f_static.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/bridge/bridge_static.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/test/empty.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/test/test.world" /> -->
    <!-- Error for test2.world, No models -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/test/test2.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/test/test_mill19_1.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/test/test_mill19_2.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/test/test_mill19_3.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/simple_box/simple_box_static.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/simple_box/simple_box_dynamic_3.world" /> -->

    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/room/room_empty.world" /> -->
    <!-- <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/room/room_static.world" /> -->
    <arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/CERLAB/generated_env/generated_env.world" />


    <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>

    <!-- gazebo configs -->
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>
    <!-- MAVROS configs -->
    <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
    <arg name="respawn_mavros" default="false"/>
    <!-- PX4 configs -->
    <arg name="interactive" default="true"/>
    <!-- PX4 SITL and Gazebo -->
    <include file="$(find px4)/launch/posix_sitl.launch">
        <arg name="x" value="$(arg x)"/>
        <arg name="y" value="$(arg y)"/>
        <arg name="z" value="$(arg z)"/>
        <arg name="R" value="$(arg R)"/>
        <arg name="P" value="$(arg P)"/>
        <arg name="Y" value="$(arg Y)"/>
        <arg name="world" value="$(arg world)"/>
        <arg name="vehicle" value="$(arg vehicle)"/>
        <arg name="sdf" value="$(arg sdf)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="interactive" value="$(arg interactive)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
    <!-- MAVROS -->
    <include file="$(find mavros)/launch/px4.launch">
        <!-- GCS link is provided by SITL -->
        <arg name="gcs_url" value=""/>
        <arg name="fcu_url" value="$(arg fcu_url)"/>
        <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
    </include>
</launch>
